{% extends 'app1/base.html' %}
{% block body %}
{% load static %}

<div class="card-header">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <div><h3>Ro'yxatdan o'tgan foydalanuvchilar jadvali</h3></div>
                <hr>
                    <form method="get">
                        {% csrf_token %}
                                    <th scope="col">Login: {{filters.form.username}}</th>
                                    <th scope="col">Familiya: {{filters.form.first_name}}</th>
                                    <th scope="col">Ism: {{filters.form.last_name}}</th>
                        </table>
                        <button class="btn btn-primary" type="submit">Qidirish</button>
                    </form>
                <hr>
                 <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Login</th>
                                <th scope="col">Familiya</th>
                                <th scope="col">Ism</th>
                                <th scope="col">Bo'lgan vaqti</th>
                                <th scope="col">Tarir bo'limi</th>
                        </thead>
                        <tbody>
                            {% for user in filters.qs %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td><a href="{{user.username.url}}"><button class="btn btn-success">Tahrir</button></a></td>
                                </tr>
                            {% endfor %}
	                    </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}