{% extends 'app1/base.html' %}
{% block body %}
{% load static %}

<div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-primary" style="background-image:url('{% static 'img/1 (10).png' %}');">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-users"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Online xodimlar:</p>
									<h4 class="card-title">{{ numberactiveusers }} ta</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary" style="background-image:url('{% static 'img/1 (10).png' %}');">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Sales</p>
									<h4 class="card-title">$ 1,345</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary" style="background-image:url('{% static 'img/1 (10).png' %}');">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-newspaper-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Subscribers</p>
									<h4 class="card-title">1303</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary" style="background-image:url('{% static 'img/1 (10).png' %}');">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Jami xodimlar:</p>
									<h4 class="card-title">{{numberallusers}}</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" >
			<form enctype="multipart/form-data" method="POST">
				{% csrf_token %}
				<div >
					<div class="card-header ">
						<h3 class="text-black" align="center"><b>YANGI MAVZU:</b></h3>
					</div>
					<div class="col-md-12">
						<label for="" class="form-label"><p class="text-black"><b>Mavzu</b></p></label>
							<input type="text" class="form-control" name="theme"  required>
					</div>
					<hr>
					<div class="col-12">
						<label for="" class="form-label"><p class="text-black"><b>Qisqacha</b></p></label>
						<input type="text" class="form-control" name="url" required>
					</div>
					<hr>
					<div class="col-md-5">
						<label for="" class="form-label"><p class="text-black"><b>Fan</b></p></label>
						<select class="form-select" name="subject_type" required>
							<option>-----------</option>
							{% for form in subjectname %}
						  		<option value="{{ form.id }}">{{ form.subject_name }}</option>
							{% endfor %}
						</select>
					</div>
					<hr>
					<div class="col-md-5">
						<label for="country" class="form-label"><p class="text-black"><b>Ma'sul</b></p></label>
						<select class="form-select" name="responsible_section" required>
							<option>------------</option>
							{% for form in us %}
								<option value="{{ form.id }}">{{ form.username }}</option>
							{% endfor %}
						</select>
					</div>
					<hr>
					<div class="col-md-5">
						<label for="" class="form-label"><p class="text-black"><b>Mavzu sanasi</b></p></label>
						<input type="date" class="form-control" name="lesson_date" required>
					</div>
					<hr>
					<button class="btn btn-success"><b>SAQLASH</b></button>
					<hr>
				</div>
			</form>
			<hr size="10" color="light">
			<div class="row">
				<div >
					<div class="card-header">
						<h4 class="text-black"><b>Foydalanuvchilar</b></h4>
						<p class="text-black">Xozirda tizimdan foydalanayotgan xodimlar jadvali:</p>
					</div>
					<div class="card-body">
						<table class="table table-head-bg-success table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">№</th>
									<th scope="col">Xodim nomi</th>
									<th scope="col">Tizimga kirgan vaqti</th>
								</tr>
							</thead>
							<tbody>
							{% for activename in nameactiveusers %}
								<tr>
									<td><p class="text-black">{{ activename.id }}</p></td>
									<td><p class="text-black">{{ activename.user }}</p></td>
									<td><p class="text-black">{{ activename.last_activity}}</p></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'app1/form-validation.js' %}"></script>
		<div >

			<meta name="description" content="WebRTC code samples">
			<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
			<meta itemprop="description" content="Client-side WebRTC code samples">
			<meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">
			<meta itemprop="name" content="WebRTC code samples">
			<meta name="mobile-web-app-capable" content="yes">
			<meta id="theme-color" name="theme-color" content="#ffffff">

			<base target="_blank">

			<link rel="icon" sizes="192x192" href="../../../images/webrtc-icon-192x192.png">
			<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
			<link rel="stylesheet" href="../../../css/main.css"/>

			<div class="child" id="container">
				<h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC</a> <span>Peer connection relay</span>
				</h1>

				<div id="videos">
					<video id="video1" playsinline autoplay muted></video>
					<video id="video2" playsinline autoplay></video>
				</div>

				<section><input type="checkbox" id="audio"><label for="audio">Include audio (supported in Chrome 49 and above)</label></section>

				<div id="buttons">
					<button id="start">Start</button>
					<button id="call" disabled>Call</button>
					<button id="insertRelay" disabled>Insert relay</button>
					<button id="hangup" disabled>Hang Up</button>
				</div>

				<div id="status"></div>

				<a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/peerconnection/multiple-relay"
				   title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
			</div>
			<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
			<script src="../../../js/videopipe.js"></script>
			<script src="{% static 'rtc/main.js' %}" async></script>
			<script src="../../../js/lib/ga.js"></script>
		</div>

</div>

{% endblock %}