<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ro'yxatdan o'tish</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'app1/register-style.css' %}">
    <link href="{% static 'app1/bootstrap.min.css' %}" rel="stylesheet">
    <style>
       .center {
        width: 200px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
        background: #fc0; /* Цвет фона */
       }
    </style>
</head>
<body  style="background-image:url('{% static 'img/fon34.jpg' %}');">
    <div class="registration-form" >
        <main  class="form-signin">
        <form method="POST">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>

            <div class="form-floating">
                <input type="text" name="first_name" class="form-control" placeholder="Familiya">
                <label class="user">Familiya</label>
            </div>
            <hr>
            <div class="form-floating">
                <input type="text" name="last_name" class="form-control" placeholder="Ism">
                <label class="user">Ism</label>
            </div>
            <hr>
            <div class="form-floating">
                <input type="text" name="username" class="form-control" placeholder="Login">
                <label class="user">Login</label>
            </div>
            <hr>
            <div class="form-floating">
                <input type="password" name="password1" class="form-control" placeholder="Parol">
                <label>Parol</label>
            </div>
            <hr>
            <div class="form-floating">
                <input type="password" name="password2" class="form-control" placeholder="Parol takroriy">
                <label>Parol takroriy</label>
            </div>

            <div align="center">
                <input type="submit" class="btn btn-block create-account" value="Registratsiya" />
            </div>

            <hr>
            <div class="col-100% d-flex justify-content-left text-left">
            <p class="text-warning"><h5>{{form.errors}}</h5></p>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <h5><a class="nav-link active" href="{% url 'login' %}">Yoki Kirish</a></h5>
                </li>
            </ul>
             <h6 align="center">Faqat bojxona xodimiga ro'yxatdan o'tishga ruxsat beriladi!</h6>
        </form>
        </main>
    </div>
    <!--<script>

      var form_fields = document.getElementsByTagName('input')
      form_fields[1].placeholder='Firstname..';
      form_fields[2].placeholder='Lastname..';
      form_fields[3].placeholder='Username..';
      form_fields[4].placeholder='Enter Password..';
      form_fields[5].placeholder='Re-enter Password..';

      for (var field in form.fields){
           form_fields[field].className += ' form-control'
      }

    </script>-->
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'app1/register-script.js' %}"></script>
</body>

</html>
